{{- range .Object}}

#### {{ .Name }}

| Name | Data Type | Sample Value | Is Nullable | Description |
|------|-----------|-------------|--------------|-------------|
{{- range .Items}}
{{ .Name }} {{ .DataType }} {{ .SampleValue }} {{ .IsNullable }} {{ .Description }}
{{- end}}
{{- end}}